{% extends "base/base.html.twig" %}

{% block body %}
    
<div class="container mt-4">
    <h1>Editer le role</h1>
    {{ include("admin/roles/_form.html.twig", {form: form, button: 'Editer'}) }}
</div>
{% endblock %}